.card{
    /* background-color: var(--backgorund-card); */
    background-color: blueviolet;
    color:black;
    width: 100%;
    max-width: 300px;

    border-radius: 12px;
    overflow: hidden;
}
.card__header{
    position: relative;
    
}
.Card__circle-status{

    width: 14px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background-color: rgb(21, 0, 255); */
}
.Dead{ background-color: orange;}
.unknown{background-color: #aaa;}
.Alive{background-color: green;}
.card_container-status{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;

    background-color: red;
    padding: 6px;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;


}

.card__body{
    padding: 20px;
    background-color: var(--backgorund-card);
}
.card__name{

    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
  
}

.card__list{
    display: grid;
    gap:14px;

}

.card__itam{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 500;

    padding-left: 10px;

}

.card__spam{
    color: #ccc9;
    transform: translateX(10px);
}
.card-container{
    display: flex;
    gap: 30px;
    justify-content: center; 
    flex-wrap: wrap;
}
.error{
    width: 100%;
    max-width: 400px;
    height: 300px;
}